name: Test the boilerplate
on: [push]

jobs:
  test-boilerplate:
    runs-on: ubuntu-latest
    container: bitnami/kubectl:1.33.4-debian-12-r0@sha256:ed0b31a0508da84ee655c5c6e01bd3897fc56ad6cf69debb27fa1893a06d2246
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: ./testing/test.sh