name: Test the rego
on: [push]

jobs:
  test-rego:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Get OPA
        run: |
          wget --quiet -O /tmp/opa https://github.com/open-policy-agent/opa/releases/download/v0.28.0/opa_linux_amd64
          chmod +x /tmp/opa
      - name: Test
        run: /tmp/opa test *.rego -v --explain full
      - name: Coverage
        run: /tmp/opa test --coverage --format=json *.rego