name: Test the boilerplate
on: [push]

jobs:
  test-boilerplate:
    runs-on: ubuntu-latest
    container: bitnami/kubectl:1.33.4-debian-12-r0@sha256:ed0b31a0508da84ee655c5c6e01bd3897fc56ad6cf69debb27fa1893a06d2246
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: ./testing/test.sh